//COLORS
$soft-black: rgb(48, 47, 47);
$white: #ffffff;
//$gradient-purple: rgba(143, 160, 245);
//$gradient-pink: rgba(255, 160, 179);
$jumbo-blue: #008ED0;
$jumbo-pink: #F2D2EA;

//TYPOGRAPHY:

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

$main-font: 'Lora', serif;

.blue-txt {
    color: $jumbo-blue;
  }

